body{
margin: 0;
padding: 0;
}

header{
    background: #466AE0;
    height: 17vh;
    margin-top: -16px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

}
ul{
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-decoration: none;
}
li{
    display: flex;
    margin-left: 19px;
    text-decoration: none;
    
}
a{
    text-decoration: none;
}
a:hover{
color:black;
background-color: rgb(83, 83, 138, 0.6);
border-radius: 40px;
}


h1{
    color: white;
    display: flex;
    font-size: 260px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main{
    height: 130vh;
    background: #E06646;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(jellydesktop.jpg);
}
footer{
background: url(regenbogenjelly.jpg);
    height: 160vh;
    background-size: contain;
    background-repeat: no-repeat;
}


section{
color:  #90a7f1;
display: flex;

}